{% extends "base.html" %}

{% block lab %} Лабораторная работа 5 {% endblock %}

{% block main %}
<style>
.baza{
    background-color: #c8e9f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; 
    width: 100%; 
    }

body {
    background-color: whitesmoke;
    color: #1f3b47;
    font-family: Helvetica;
    font-size: 20px;
    margin-bottom: 100px;
}

footer {
    background-color: #316691; 
    color: white; 
    font-family: helvetica; 
    text-align: center; 
    font-size: 20px;
    position: fixed;
    padding: 10px;
    bottom: 0;
    right: 0;
    left: 0;
}

header {
    background-color: #c8e9f7; 
    color: #1f3b47; 
    padding: 30px;
    width: 100%;
    font-size: 14pt
}

button{
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #c8e9f7;
    border: 2px solid  #8436eb;
    border-radius: 5px;
    padding: 12px 17px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
    
</style>
    
<h1>Статьи</h1>

{% if has_articles %}
    <form method="GET" action="{{ url_for('lab5.list') }}">
        <button type="submit" name="filter" value="favorites">Показать любимые статьи</button>
    </form>
        {% for article in articles %}
            <h2>{{ article['title'] }}</h2>

            <blockquote>{{ article['article_text'] }}</blockquote>

            <form action="{{ url_for('lab5.edit_article', article_id=article['id']) }}">
                <button type="submit">Редактировать</button>
            </form>

            <form action="{{ url_for('lab5.delete_article', article_id=article['id']) }}" method="POST" style="display:inline;">
                <button type="submit">Удалить</button>
            </form>
            
        {% endfor %}
    {% else %}
        <p>У вас нет ни одной статьи.</p>
        <a href="/lab5/create"><button>Создайте свою первую статью!</button></a>
    {% endif %}
            <p><a href="/lab5/" style="vertical-align: bottom;"> Назад к базе знаний!</a></p>
{% endblock %}