{% extends "base.html" %}

{% block lab %} Лабораторная работа 5 {% endblock %}

{% block main %}
<style>

body {
    background-color: whitesmoke;
    color: #1f3b47;
    font-family: Helvetica;
    font-size: 20px;
    margin-bottom: 100px;
}

footer {
    background-color: #316691; 
    color: white; 
    font-family: helvetica; 
    text-align: center; 
    font-size: 20px;
    position: fixed;
    padding: 10px;
    bottom: 0;
    right: 0;
    left: 0;
}

header {
    background-color: #c8e9f7; 
    color: #1f3b47; 
    padding: 30px;
    width: 100%;
    font-size: 14pt
}

button{
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #c8e9f7;
    border: 2px solid  #8436eb;
    border-radius: 5px;
    padding: 12px 17px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
    
</style>
    
<h1>Регистрация прошла успешно!</h1>

    <p>Теперь вы можете войти в систему и пользоваться базой знаний.</p>
    <a href="/lab5">Перейти на главную страницу</a>

{% endblock %}