body {
    background-color: #81decd;
    color: white;
    font-family: Helvetica;
}

h1{
    text-align: center;
    margin-top: 70px;
    font-size: 50px;
}

h2{
    font-size: 35px;
    margin-left: 80px;
}

p{
    font-size: 20px;
    margin-left: 80px;
    margin-right: 100px;
    text-align: justify;
}

.student{
    margin-left: 200px;
    margin-top: 50px;
}

.python{
    margin-left: 450px;
}