<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StorageHub, the luggage storage network  </title>
    <link rel="stylesheet" href={{url_for('static', filename='rgz2/style.css')}}>
    <link rel="shortcut icon" href="{{ url_for('static', filename='lab1/favicon.ico') }}">
    <style>
    
    </style>

    {% if user %}
    {% block script %}
    <script>
        function deleteUser () {
            if (confirm("Вы уверены, что хотите удалить пользователя?")) {
                $.ajax({
                    type: 'DELETE',
                    url: '/rgz2/delete_user',
                    success: function(response) {
                        alert(response.message);
                        // Дополнительные действия после удаления пользователя, если необходимо
                        window.location.href = '/rgz2/'; // Перенаправление на главную страницу
                    },
                    error: function(xhr) {
                        alert("Ошибка при удалении пользователя: " + xhr.responseText);
                    }
                });
            }
        }
    </script>
    {% endblock %}
    {% endif %}
</head>
<body>
    <header>
        {% if user %}
            <a href="/rgz2/logout" style="color: #1f3b47;"><button>Выйти</button></a> 
            <button onclick="deleteUser ();">Удалить пользователя</button>
        {% else %}
            <a href="/rgz2/login" style="color: #1f3b47;"><button>Войти</button></a>
            <a href="/rgz2/register" style="color: #1f3b47;"><button>Зарегистрироваться</button></a>
        {% endif %}
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        &copy; StorageHub: Crafted by Darya Dybalina, ФБИ-23, 3 курс, 2024
    </footer>
    
</body>
</html>