{% extends "rgz_style.html" %}

{% block lab %} Расчетно-графическое задание {% endblock %}

{% block main %}

    {% if user %}

    <h2>Добро пожаловать, {{ user }}!</h2>

    {% else %}

    <h2>Добро пожаловать! Пожалуйста, войдите в систему.</h2>

    {% endif %}

    <div class="image-container">
        <img src="{{ url_for('static', filename='rgz2/baggage.jpg') }}">
    </div>

    <div class="storage-button">
        <p>Удобное бронирование — забронируйте прямо сейчас</p>
        <a href="/rgz2/storage" style="color: #1f3b47;">
            <button>Камеры хранения</button>
        </a>
    </div>

{% endblock %}
