{% extends "rgz_style.html" %}

{% block lab %} Расчетно-графическое задание {% endblock %}

{% block main %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<h1>StorageHub</h1>

    {% if user %}

    <p>Добро пожаловать, {{ user }}!</p>

    {% else %}

    <p>Добро пожаловать! Пожалуйста, войдите в систему.</p>

    {% endif %}

    <a href="/rgz2/storage" style="color: #1f3b47;"><button>Камеры хранения</button></a>
    <a href="/rgz2/login" style="color: #1f3b47;"><button>Войти</button></a>
    <a href="/rgz2/register" style="color: #1f3b47;"><button>Регистрация</button></a>

    {% if user %}
        {% block script %}
        <script>
            function deleteUser () {
                if (confirm("Вы уверены, что хотите удалить пользователя?")) {
                    $.ajax({
                        type: 'DELETE',
                        url: '/rgz2/delete_user',
                        success: function(response) {
                            alert(response.message);
                            // Дополнительные действия после удаления пользователя, если необходимо
                            window.location.href = '/rgz2/'; // Перенаправление на главную страницу
                        },
                        error: function(xhr) {
                            alert("Ошибка при удалении пользователя: " + xhr.responseText);
                        }
                    });
                }
            }
        </script>
        {% endblock %}
        <a href="/rgz2/logout" style="color: #1f3b47;"><button>Выйти</button></a> 
        <button onclick="deleteUser ();">Удалить пользователя</button>
    {% endif %}
    

{% endblock %}