{% extends "base.html" %}

{% block lab %} Лабораторная работа 8 {% endblock %}

{% block main %}
<style>
.baza{
    background-color: #c8e9f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; 
    width: 100%; 
    }

body {
    background-color: whitesmoke;
    color: #1f3b47;
    font-family: Helvetica;
    font-size: 20px;
    margin-bottom: 100px;
}

footer {
    background-color: #316691; 
    color: white; 
    font-family: helvetica; 
    text-align: center; 
    font-size: 20px;
    position: fixed;
    padding: 10px;
    bottom: 0;
    right: 0;
    left: 0;
}

header {
    background-color: #c8e9f7; 
    color: #1f3b47; 
    padding: 30px;
    width: 100%;
    font-size: 14pt
}

button{
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #c8e9f7;
    border: 2px solid  #8436eb;
    border-radius: 5px;
    padding: 12px 17px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
    
</style>
    
<h1>Создать статью</h1>
    {% if error %}
        <div style="color: red;">{{ error }}</div>
    {% endif %}

<form method="POST">

    <label for="title">
        Название статьи:<input type="text" name="title" id="title" required><br><br>
    </label>

    <label for="article_text">
        Текст статьи: <textarea name="article_text" id="article_text" cols="60" rows="10" required></textarea><br><br>
    </label><br>

    <div>
        <label>
            <input type="checkbox" name="is_favorite"> Сделать любимой
        </label>
    </div>
    
    <div>
        <label>
            <input type="checkbox" id="is_public" name="is_public">Сделать статью публичной
        </label>
    </div>

    
    <button type="submit">Создать статью</button>
</form>

{% endblock %}