body {
    background-color: #f0f8ff; /* Нежный голубой фон */
    color: #333; /* Темно-серый текст для лучшей читаемости */
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 100px;
}

footer {
    background-color: #a0d3e8; /* Нежный голубой */
    color: #1f3b47; 
    font-family: helvetica; 
    text-align: center; 
    font-size: 20px;
    position: fixed;
    padding: 10px;
    bottom: 0;
    right: 0;
    left: 0;
}

header {
    background-color: #e0f7fa; /* Нежный голубой */
    color: #1f3b47; 
    padding: 20px;
    width: 100%;
    font-size: 14pt;
    display: flex;
    justify-content: flex-end; /* Выравнивание кнопок вправо */
}

button {
    margin: 5px;
    font-size: 16px;
    background-color: #b2ebf2; /* Нежный цвет кнопок */
    border: 2px solid #00796b; /* Акцентный цвет */
    border-radius: 25px; /* Овальные кнопки */
    padding: 12px 20px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #00796b; /* Темный акцентный цвет при наведении */
    color: white;
    transform: scale(1.05);
}

h1 {
    text-align: center;
    margin-top: 70px;
    font-size: 50px;
}

h2 {
    font-size: 35px;
    margin-left: 80px;
}

p {
    font-size: 20px;
    margin-left: 80px;
    margin-right: 100px;
    text-align: justify;
}

ol {
    margin-left: 60px;
}

a {
    color: #00796b; /* Акцентный цвет для ссылок */
    text-decoration: none;
    transition: 1s;
}

a:hover {
    color: #004d40; /* Темный акцентный цвет при наведении */
    text-decoration: underline;
    transition: 0.3s;
}

/* Новый стиль для квадратного элемента с изображением */
.image-container {
    width: 200px; /* Ширина контейнера */
    height: 200px; /* Высота контейнера */
    border-radius: 15px; /* Мягкие углы */
    overflow: hidden; /* Скрыть переполнение */
    margin: 20px auto; /* Центрирование */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень */
}

.image-container img {
    width: 100%; /* Ширина изображения */
    height: 100%; /* Высота изображения */
    object-fit: cover; /* Обеспечить обрезку изображения */
}

/* Новый стиль для кнопки с камерами хранения */
.storage-button {
    width: 200px; /* Ширина кнопки */
    height: 100px; /* Высота кнопки */
    border-radius: 15px; /* Мягкие углы */
    background-color: #b2ebf2; /* Нежный цвет кнопки */
    border: 2px solid #00796b; /* Акцентный цвет */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto; /* Центрирование */
    transition: background-color 0.4s;
}

.storage-button:hover {
    background-color: #00796b; /* Темный акцентный цвет при наведении */
    color: white;
}